
numpy
pandas
scikit-learn
xgboost
numba
fastavro
apache-airflow-providers-apache-kafka
apache-airflow-providers-amazon
apache-airflow-providers-postgres
confluent-kafka[avro]
apache-airflow
pykwalify
rule-engine
scipy